 
    @for (row of formService.rows(); track row.id) {
        <div class="p-5 bg-white rounded-lg border-dashed border-2 border-gray-200  "
        cdkDropList
        [cdkDropListData]="row.id"
        (cdkDropListDropped)="onDropInRow($event, row.id)"
        [cdkDropListOrientation]="'mixed'"
        >
        <div>Row</div>
        <div class="flex gap-4 flex-wrap">
        @for (field of row.fields; track field.id) {
             <app-form-field 
               [field]="field"      /> 
        }
        </div>
        </div>
    }
 