<div class="task-new">
  <header class="task-new__header">
    <a mat-stroked-button routerLink="/tasks">
      <mat-icon>arrow_back</mat-icon> All tasks
    </a>
    <h1 class="task-new__title">New task</h1>
    <p class="task-new__lede">Choose a published template to fill out and submit.</p>
  </header>

  @if (publishedTemplates().length === 0) {
    <div class="task-new__empty">
      <p>No published templates yet.</p>
      <a mat-flat-button color="primary" routerLink="/templates">
        <mat-icon>dashboard_customize</mat-icon> Go to Templates
      </a>
    </div>
  } @else {
    <div class="task-new__grid">
      @for (template of publishedTemplates(); track template.id) {
        <button
          type="button"
          class="task-new__card"
          (click)="startTask(template.id)"
        >
          <span class="task-new__card-body">
            <span class="task-new__card-name">{{ template.name }}</span>
            @if (templateMeta(template); as meta) {
              <span class="task-new__card-meta">{{ meta }}</span>
            }
          </span>
          <span class="task-new__card-action">
            Start
            <mat-icon>play_arrow</mat-icon>
          </span>
        </button>
      }
    </div>
  }
</div>
