<button class="w-full p-3 border border-gray-200 hover:border-black rounded-lg flex items-center gap-3 cursor-pointer"
    cdkDrag [cdkDragData]="field()"
    (cdkDragStarted)="whileDragging.set(true)"
    (cdkDragEnded)="whileDragging.set(false)"
    
    >
    <div class="rounded-md bg-gray-100 flex items-center justify-center p-1">
        <mat-icon class="scale-75">{{ field().icon }}</mat-icon>
    </div>
    <span class="text-gray-700 font-medium">{{ field().label }}</span>
    <div *cdkDragPlaceholder ></div>
</button>

@if(whileDragging()) {
     <div class="w-full p-3 border border-gray-200 hover:border-black rounded-lg flex items-center gap-3 cursor-pointer">
    <div class="rounded-md bg-gray-100 flex items-center justify-center p-1">
        <mat-icon class="scale-75">{{ field().icon }}</mat-icon>
    </div>
    <span class="text-gray-700 font-medium">{{ field().label }}</span>
</div>

}