<div class="p-4 bg-white rounded-lg h-[calc(100vh-150px)] overflow-y-auto border-gray-200 shadow-sm">
    <div class="pb-4 border-b border-gray-200 flex gap-2 items-center">
        <h3 class="text-xl   font-medium text-primary">Form Canvas</h3>
        <mat-button-toggle-group [(value)]="activeTab"
         hideSingleSelectionIndicator="true"
        >
            <mat-button-toggle value="editor">Editor</mat-button-toggle>
            <mat-button-toggle value="preview">Preview</mat-button-toggle>
        </mat-button-toggle-group>
        @if((activeTab() === 'editor')) {
            <div class="flex-1"></div>
        <button mat-flat-button class="compact-button"
        (click)="formService.addRow()"
        >Add Row
            <mat-icon>add_circle</mat-icon>
        </button>
        }

    </div>
    <div class="mt-4">
        @if (activeTab()=== 'editor') {
        <app-form-editor></app-form-editor>
        } @else if (activeTab() === 'preview') {
               <app-form-preview></app-form-preview>
        }
    </div>
</div>