@import "tailwindcss";
@source "./**/*.{html,ts}";

@use "@angular/material" as mat;
@import './app/themes/greentheme.css';

body {
  margin: 0;
  padding: 0;
}

.cdk-drop-list-dragging:not(.elements-menu)  {
  border: 2px solid lightgray !important;
  background-color: lightgray !important; 
}