<mat-form-field
  class="w-full"
  appearance="fill"
  subscriptSizing="dynamic"
  [floatLabel]="field().label ? 'always' : 'auto'"
  [hideRequiredMarker]="!field().required">
  <mat-label>{{ field().label }}</mat-label>
  <textarea
    #textareaElement
    [id]="'textarea-' + field().id"
    [placeholder]="field().placeholder || ''"
    (input)="onInputChange($event)"
    rows="4"
    matInput
    [required]="field().required"
    [style.border]="getBorderStyle()"
    class="resize-y">
  </textarea>
  <mat-hint *ngIf="field().description">{{ field().label }}</mat-hint>
</mat-form-field>
